*.o
*.obj
*.a
*.res
*.exe
*.map
*.log
*.grp
*.cfg
*~
*.pdb
*.dll
/src/version-auto.c

/xcode/*.xcodeproj/*.mode1v3
/xcode/*.xcodeproj/*.pbxuser
/xcode/*.xcodeproj/project.xcworkspace
/xcode/*.xcodeproj/xcuserdata
/xcode/Version.xcconfig
/xcode/Signing.xcconfig

/xcode/build
/.vs
/Makefile.*user

/build
/duke3d
/grpfiles.cache
