// Duke Nukem 3D Sample Defs file
//
// For an explanation of the contents of this file, read releasenotes.html
// in the section titled "DEF-file Language"

include DEFS.CON

// These entries define Hightile tints
// definetint <pal> <r> <g> <b> <effects>
definetint 1 110 110 255 0
definetint 2 255 110 80 0
definetint 4 0 0 0 0
definetint 6 192 255 138 3
definetint 7 255 255 60 0
definetint 8 180 255 200 0

// This entry defines a texture replacement
// definetexture <tilenum> <pal> 0 0 -1 -1 <filename>
//definetexture FEMPIC7 0 0 0 -1 -1 "textures/rikaa.png"

// These entries demonstrate replacing the Liztroop character with a model
   // Editart tile indices:
   // walk  1680-1704
   // shoot 1715-1717
   // fly   1720-1727
   // die   1730-1734 (1734=dead)
   // beg   1738-1740
   // sit   1741-1742
   // duck  1744-1751
   // warp  1754-1755
   // MD2 frame names: idle, walk1-4, atk1-5, pain1-2, die1-6, $NECK, $HEAD, $BELT, $TORSO
// definemodel <filename> <scale> <shadeoffs>
// definemodelanim <startframe> <endframe> <fps> <flags>
// definemodelframe <framename> <starttile> <endtile>
definemodel "models/imp.md2" 2 4
definemodelanim "walk1" "walk4" 6 0
definemodelframe "walk1" 1680 1704
definemodelanim "atk1" "atk5" 16 1
definemodelframe "atk1" 1715 1717
definemodelframe "idle" 1720 1727
definemodelanim "pain1" "pain2" 8 0
definemodelframe "pain1" 1730 1730
definemodelanim "die1" "die6" 8 1
definemodelframe "die1" 1731 1734
definemodelframe "pain1" 1738 1738
definemodelframe "pain2" 1739 1740
definemodelframe "pain1" 1741 1741
definemodelframe "pain2" 1742 1742
definemodelframe "idle" 1744 1751
definemodelframe "idle" 1754 1755

// These entries demonstrate voxel replacements
// definevoxel <filename>
// definevoxeltiles <starttile> <endtile>
//definevoxel "voxels/barstool.kvx"
//definevoxeltiles 1006 1006

