#include "startwin_win.rc"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_BMP           BITMAP         "startwin_game.bmp"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_ICON          ICON           "game_icon.ico"
IDI_ICON+1        ICON           "game_icon2.ico"

#ifdef _M_AMD64
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "game.manifest"
#else
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "game-x86.manifest"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,0,0
PRODUCTVERSION 0,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080904e4"
        {
            VALUE "CompanyName", "JonoF\0"
            VALUE "FileDescription", "JFDuke3D\0"
            VALUE "FileVersion", "0.0\0"
            VALUE "InternalName", "duke3d.exe\0"
            VALUE "OriginalFilename", "duke3d.exe\0"
            VALUE "ProductName", "JFDuke3D\0"
            VALUE "ProductVersion", "0.0\0"
            VALUE "LegalCopyright", "See GPL.TXT for terms\0"
            VALUE "URL", "https://www.jonof.id.au/jfduke3d/\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x809, 1252
    }
}
